<!doctype html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js Tuto</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
        ul.tools {
            list-style: none;
            box-shadow: 0px 0px 4px rgba(0,0,0,.5);
            border: solid 1px #000;
            position: absolute;
            background: #fff;
        }
        ul.tools li {
            /*display: inline-block;*/
            width: 10px;
            height: 20px;
            border: solid 1px #000;
            /*margin: 5px;*/
            /*padding: 5px 10px;*/
            cursor: pointer;
        }
        .fade-enter-active, .fade-leave-active {
            transition: opacity .5s
        }
        .fade-enter, .fade-leave-active {
            opacity: 0
        }
    </style>
</head>
<body>
    <div id="app" class="container">
        <h1>{{ cleanUrl }}</h1>

        <div @click.capture="doThis">
            amis ahah ahah ahah ahah ahah ahah Bonjour les amis j'rigole ahah<br/>lolo
            amis ahah ahah ahah ahah ahah ahah Bonjour les amis j'rigole ahah<br/>lolo
            amis ahah ahah ahah ahah ahah ahah Bonjour les amis j'rigole ahah<br/>lolo
            amis ahah ahah ahah ahah ahah ahah Bonjour les amis j'rigole ahah<br/>lolo
            amis ahah ahah ahah ahah ahah ahah Bonjour les amis j'rigole ahah<br/>lolo
            amis ahah ahah ahah ahah ahah ahah Bonjour les amis j'rigole ahah<br/>lolo
            amis ahah ahah ahah ahah ahah ahah Bonjour les amis j'rigole ahah<br/>lolo


        </div>

        <transition name="fade">
            <ul v-if="show" class="tools" v-bind:style="{ left: lValue + 'px', top: tValue + 'px', color: '' }">
                <input type="radio" name="Mdr" value="LOL"/> Avocat<br />
                <input type="radio" name="Mdr" value="LOL"/> Partie<br />
                <input type="radio" name="Mdr" value="LOL"/> Loi
            </ul>
        </transition>
        <!--<transition name="fade">-->
            <!--<ul v-if="show" class="tools" v-bind:style="{ left: lValue, top: tValue}">-->
        <select name="" id="">
            <option value="">mdr</option>
            <option value="">mdr</option>
            <option value="">mdr</option>
            <option value="">mdr</option>
        </select>
            <!--</ul>-->
        <!--</transition>-->

        <button @click="show = !show">
            Toggle render
        </button>
    </div>

</body>


<script src="https://unpkg.com/vue@2.0.7/dist/vue.js"></script>


<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
</script>
<script>

    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue Word',
            show: false ,
            tools: "",
            cleanUrl: "",
            annot: [],
            lValue: 10,
            tValue: 10,
            disValue: 'none'
        },
        methods: {
            humanize: function() {
                this.cleanUrl = this.url.replace(/^https?:\/\//, '').replace(/\/$/, '')
            },
            doThis: function(event) {
                var selectedText;
                this.lValue = Number(event.clientX) + 5;
                this.tValue = event.clientY;
                console.log(this.tValue);
                console.log(this.lValue);
//                this.disValue = 'block';
                var firstWd;
                var nbWd;
                selectedText = window.getSelection();
                if (selectedText.toString() != "")
                    this.show = true;
                else
                    this.show = false;

                firstWd = this.firstWord(selectedText.toString());
                nbWd = this.cptWords(selectedText.toString());
//                console.log(firstWd);
//                console.log(selectedText);
                var text = selectedText.baseNode.data;
                var cpt = 0;
                var j = 0;

                for (var i = 0, len = selectedText.anchorOffset ; i < len; i++) {
                    if(text[i] == firstWd[j]) {
                        while(text[i+j] == firstWd[j])
                        {
                            if(j == firstWd.length - 1)
                                cpt += 1;
                            j++;
                        }
                        j = 0;
                    }
                }
                this.annot.push({"mot": firstWd, "nocc": cpt, "longueur": nbWd});
//                console.log(this.annot);

//                console.log(selectedText.toString());
//                console.log(selectedText.anchorNode);
            },
            cptWords: function(str) {
//                var separators = [' ', '\\\+', '-', '\\\(', '\\\)', '\\*', '/', ':', '\\\?'];
                var separators = [' ', '\\\+', '-', '\\\(', '\\\)', '\\*', '/'];
                console.log(separators.join('|'));
                var tokens = str.split(new RegExp(separators.join('|'), 'g'));
                return(tokens.length);
            },
            firstWord: function(str) {
//                var separators = [' ', '\\\+', '-', '\\\(', '\\\)', '\\*', '/', ':', '\\\?'];
                var separators = [' ', '\\\+', '-', '\\\(', '\\\)', '\\*', '/'];
                var tokens = str.split(new RegExp(separators.join('|'), 'g'));
                return(tokens[0]);
            },
            colorify: function() {

            }
        }
    })
</script>

</html>